
    <ion-header-bar class="bar-stable bar-energized">
      <h1 class="title">Status Falcon GPS</h1>
    </ion-header-bar>

    <ion-content scroll="false">
        <ul class="list">
            
          <li class="item item-toggle">
             Status FALCON
             <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
            <li class="item">
                Modo 

            </li>
        </ul>
        
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password">
          </label>
        <button class="button button-block button-positive">
        Ingresar
            </button>
        </div>		
   	</ion-content>
	
	<ion-footer-bar class="bar-stable bar-energized">
	<div class="button-bar">
	  <a href="#/mapa"  class="button icon-left  ion-earth">Mapa</a>
	  <a href="#/puntos" class="button icon-left ion-location">Puntos</a>
	  <a href="#/settings" class="button icon-left ion-settings button-positive">Settings</a>
	</div>
	 </ion-footer-bar> 